h1 {
  color: red;
}

h2 {
  font-style: italic;
  text-align: center;
}

body {
  font-family: arial;
  font-size: 18px;
  text-align: center;
}

p {
  font-family: sans-serif;
}

ul {
  line-height: 60%;
  font-weight: 200;
}
